<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Eat da burger!</title>
<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		 <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<header>
    <div class="navbar">
        <a id="logo" href="#">Julia Dischell</a>
        <nav>
            <div class="dropdown">
                <button class="dropbtn"><a>About</a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                     <a href="../Responsive-Portfolio/index.html">Bio</a>
                    <a href="assets/images/JDresume2019.pdf" target="_blank">Resume</a>
                    <a href="https://www.linkedin.com/in/juliadischell/" target="_blank">LinkedIn</a>
                    <a href="https://github.com/JulesDisch" target="_blank">GitHub</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"> <a>Contact</a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="mailto:jmdischell@gmail.com">Email</a>
                    <a href="tel:12158962289">Call</a>
                    <a href="https://julesdisch.github.io/Responsive-Portfolio/contact.html">Contact form</a>
                </div>
            </div>
            <a href="https://julesdisch.github.io/Responsive-Portfolio/portfolio.html">Portfolio</a>
        </nav>
    </div>
</header>
	<body>
		{{{ body }}}
	</body>
</html>
